<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Dashboard Usuario</title>
</head>
<body>
    <header>
        {{!-- Navbar --}}
        {{> navbarDashboard }}
    </header>

    <section class="container mt-5">
        {{#if message}}
        <div class="alert alert-success">{{ message }}</div>
        {{/if}}
        <article class="row">
            <div class="col-md-6">
                <ul class="list-group" id="todoContainer">
                    {{#each formattedResponse }}
                    <li class="list-group-item" id="todoItem">
                        <span>{{this.task_name}}</span> - {{this.formattedDate}} 
                        <p hidden>{{this.id_task}}</p>
                        <button class="btn btn-danger btn-sm float-end"><a href="/dashboard/delete/{{this.id_task}}" class="list-group-item list-group-item-action bg-danger text-white">Eliminar</a></button>                    
                        <button class="btn btn-warning btn-sm float-end me-3" id="editTodo" data-id="{{this.id_task}}"><a class="list-group-item list-group-item-action bg-warning">Editar</a></button>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="col-md-6">
                <h3>Agregar Tarea</h3>
                <form method="post" action="/dashboard">
                    <input type="text" name="todo" placeholder="Ingrese Tarea" class="form-control mb-2">
                    <button class="btn-dark w-100 p-2">Agregar</button>
                </form>
            </div>
        </article>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        const todoContainer = document.querySelector('#todoContainer');
        const todoItem = document.querySelector('#todoItem');
        todoContainer.addEventListener('click', (event) => {
            console.log(event.target.tagName)
            if(event.target.tagName === 'A'){
                const a = event.target;
                const li = a.parentNode.parentNode;
                const ul = li.parentNode;

                if(a.textContent === 'Editar') {
                    const span = li.firstElementChild;
                    const p = li.firstElementChild[1];
                    console.log("P",p)
                    const input = document.createElement('input');
                    input.type = 'text';
                    input.value = span.textContent;
                    input.classList.add('form-control')
                    li.insertBefore(input, span);
                    li.removeChild(span);
                    a.textContent = 'Actualizar';
                }else if (a.textContent === 'Actualizar') {
                    const input = li.firstElementChild;
                    const span = document.createElement('span');
                    span.textContent = input.value;

                    fetch(`/dashboard/edit`, {
                        method: 'PUT',
                        body: JSON.stringify({
                            task: span.textContent,
                            id: todoItem.children[1].textContent,
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => location.reload())
                      .catch(error => console.log(error));
                    li.insertBefore(span, input);
                    li.removeChild(input);
                    a.textContent = 'Editar';
                }
            }
        });
    </script>
</body>
</html>